.headerContainer {
  height: 5rem;
}

.headerContent {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuNav {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: var(--white);
    margin-left: 1rem;
    transition: color 200ms;

    &:hover {
      color: var(--red-900);
    }
  }

  svg {
    margin-top: 4px;
  }
}
